:root {
  --font1: "Times New Roman";
  --color: transparent;
  --decoration: none;
  --font2: "Times New Roman";
  --shadowcolor: #ff0000;
  --textcolor: black;
  --textstyle: italic;
  --weight: bold;
  --transform: uppercase;
  --size1: 2.5em; /* 40px/16=2.5em */
  --size2: 1.25em; /* 20px/16=1.25em */
}
body {
  font-family: var(--font1);
  background-image: url(csstest.png);
}
p {
  font-family: var(--font2);
  width: 300px;
  border: 15px inset rgb(0, 245, 150);
  padding: 20px;
  margin: 40px;
  outline: 4px inset black;
  text-shadow: 0 0 3px var(--shadowcolor), 0 0 5px #0000ff;
  color: var(--textcolor);
  font-style: var(--textstyle);
  font-size: var(--size2);
}
table,
th,
td {
  border-width: 1px;
  border-style: inset;
  border-color: black;
  border-radius: 5px;
  width: 100px;
  padding: 10px;
  box-sizing: border-box;
}
table,
td {
  font-style: var(--textstyle);
  font-size: var(--size2);
}
th {
  font-style: normal;
  font-weight: var(--weight);
  text-transform: var(--transform);
  font-size: var(--size1);
}
a:link {
  background-color: var(--color);
  color: blue;
  text-decoration: var(--decoration);
}
a:visited {
  background-color: var(--color);
  color: purple;
  text-decoration: var(--decoration);
}
a:hover {
  background-color: var(--color);
  color: red;
  text-decoration: underline;
}
a:active {
  background-color: var(--color);
  color: yellow;
  text-decoration: underline;
}
div {
  width: 320px;
  border: 5px inset gray;
  padding: 10px;
}
