:root {
  --font1: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --color: transparent;
  --decoration: none;
  --font2: Cambria;
}
body {
  font-family: var(--font1);
  background-image: url(csstest.png);
}
p {
  font-family: var(--font2);
  margin: auto;
}
table,
th,
td {
  border-width: 1px;
  border-style: inset;
  border-color: black;
  border-radius: 5px;
  width: 100px;
  padding: 10px;
  box-sizing: border-box;
}
a:link {
  background-color: var(--color);
  color: blue;
  text-decoration: var(--decoration);
}
a:visited {
  background-color: var(--color);
  color: purple;
  text-decoration: var(--decoration);
}
a:hover {
  background-color: var(--color);
  color: red;
  text-decoration: underline;
}
a:active {
  background-color: var(--color);
  color: yellow;
  text-decoration: underline;
}
